/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		ncs,sm-uart = &dtr_uart0;
		/* nordic,pm-ext-flash = &gd25wb256; */
	};
};

/* DTR with DK */
&uart0 {
	status = "okay";
	/* hw-flow-control; */
	current-speed = <57600>;
	dtr_uart0: dtr-uart {
		compatible = "nordic,dtr-uart";
		dtr-gpios = <&gpio0 10 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
		ri-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&gpio0 {
	status = "okay";
	/* Use PORT event for DTR (8) pin to save power */
	sense-edge-mask = <0x00000110>;
};

/* Disable I2C2.
 * - Enabling IO expander causes ~20uA to be consumed while DTR is deasserted.
 * - We use P0.31 and P0.30 pins for DTR and RI signals with external MCU.
 */
&i2c2 {
	status = "disabled";
};

/* Enable external flash */
&gd25wb256 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
};

&pwm0 {
	status = "disabled";
};
